services:
  monitor:
    image: channels-monitor:latest
    build: 
      # This is how you "refer to the github link"
      context: https://github.com/hitenmistry75/channelsdvr_monitor.git#main
    container_name: channels-monitor
    ports:
      - "8000:8000"
    environment:
      - DVR_IP=192.168.1.100 
    restart: unless-stopped
